body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 40px; /* Добавляем отступ снизу для места футера */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 8px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: relative; /* Убираем фиксированное позиционирование */
    width: 100%;
    bottom: 0;
    margin-top: 20px; /* Добавляем отступ сверху для футера */
}
